pre {
	background: #eee;
	padding: 0.625em;
	margin-bottom: 1.25rem;
}

.top-bar .title-area h1 {
	font-family: 'Port Lligat Slab', serif;
}

.point {
	padding: 40px 0 0 0;
}

#hero {
	background: #eee;
	padding: 80px 0;
}

#hero h1 {
	font-family: 'Port Lligat Slab', serif;
	font-size: 4em;
	color: #00A693;
}

#signup {
	background: #333;
	color: #fff;
	padding: 15px;
}

#signup .button {
	margin-bottom: 0;
}

#about {
	padding: 40px 0;
}

#seen {
	padding: 20px 0;
	background: #111;
}

#seen h1 {
	font-family: 'Crimson Text', serif;
	font-weight: 700;
	font-style: italic;
}

#seen h1, #seen h3{
	color: #fff;
}

#sidebar nav {
	border-right: 1px solid #ddd;
}

#sidebar nav a {
	color: #333;
	display: block;
	padding: 15px;
}

#sidebar nav a:hover {
	background: #333;
	color: #fff;
}

.list {
	list-style: none;
	margin-left: 0;
}

.list li a {
	display: block;
	padding: 15px;
	font-size: 1.5em;
	color: #333;
	transition: background 300ms ease-out;
}

.list li a:hover {
	background: #333;
	color: #fff;
}

#footer {
	padding: 20px 0;
	background: #eee;
}
